<!DOCTYPE html>
<html>
<head>
	<title>
		Thank you
	</title>
  <style>
    #bg{
       background-image: url("/static/img/b1.png");
       background-repeat: no-repeat;
         background-size: cover;
    }
  </style>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript">
  	
  </script>
</head>
<body id="bg">
<div class="container">
	
		

	<div class="row">
		<h1>What were the actual brands present in Image?</h1>
	</div>
   <div class="checkbox">
                        <input id="checkbox1" type="checkbox">
                        <label for="checkbox1">
                            Kurkure
                        </label>
                    </div>
                    <div class="checkbox checkbox-primary">
                        <input id="checkbox2" type="checkbox" checked="">
                        <label for="checkbox2">
                            Sprite
                        </label>
                    </div>
                    <div class="checkbox checkbox-success">
                        <input id="checkbox3" type="checkbox">
                        <label for="checkbox3">
                            Balaji
                        </label>
                    </div>
                    <div class="checkbox checkbox-info">
                        <input id="checkbox4" type="checkbox">
                        <label for="checkbox4">
                            Lays
                        </label>
                    </div>
                    <div class="checkbox checkbox-warning">
                        <input id="checkbox5" type="checkbox" checked="">
                        <label for="checkbox5">
                            CocaCola
                        </label>
                    </div>
         <a href="{{url_for('label')}}"><button type="button" class="btn btn-primary">Mark and Submit</button></a>
</div>
</body>
</html>